.about-page {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    
    /* background-color: green; */
}

.blank-space {
    height: 20rem;
}

.fish-image {
    height: 25rem;
    position: relative;
    margin-top: -10rem;
}

.white-bg-contents {
    background-color: white;
    width: 100%;
}

.about-top {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.about-top h1 {
    font-size: 4rem;
    margin-right: 5rem;
}

.goals-content {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
}
.full-dishimage {
    position: relative;
    height: 35rem;
    display: flex;
    justify-content: flex-end;
}

.dishimage{
    position: absolute;
    width: 100%;
}

.about-goal-content {
    padding: 0 5rem;
}

.hunger-div {
    position: absolute;
    background: rgba(11, 68, 71, 0.76);
backdrop-filter: blur(27px);
    height: 35rem;
    width: 18rem;
    padding: 2rem;
    margin-right: 20rem;
    margin-top: -2rem;

}

.hg-border {
    border: 2px solid white;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    padding: 2rem 0;
}