.event-page {
    padding: 2rem;
}

.event-header {
    padding: 0 2rem;
    color: white;
    animation: TransitionFromButtom 1s;

}
.event-header h1 {
    font-size: 4rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}